.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px var(--horizontal-space) 20px var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
  position: relative;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons .dot {
  position: absolute;
  right: -8px;
  top: -8px;
}
